.venv/
venv/
__pycache__/
*.pt
*.pth
*.ckpt
*.bin
*.h5
*.zip
*.tar
*.rar
node_modules/
dist/
build/
.env
data/faiss_index.pkl.cs250.ov40
data/financial_news.json
data/

# Ignore local notebook files containing API keys or outputs
notebooks/